:root
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif; 
    font-size: 1.3rem;
    background-color:#322f31;
    color:#fcfbf6;

    width: 100%;
    height: 100%;

    transition: all 0.5s ease;
}

pre
{
    margin: 0px;
    font-weight: 12px;
}

p
{
    font-size: 1.3rem;
    font-weight: 2;
}

a
{
    font-size: 1.3rem;
    font-weight: 2;

    text-decoration: none;
    color:#fcfbf6;
}

.link
{
    position: relative;

    font-size: 1.3rem;
    font-weight: 2;

    text-decoration: none;
    color:#fcfbf6;
}
.link:hover
{
    color:#b5f19c;
}
.link::before 
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b5f19c;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.link:hover::before 
{
    transform: scaleX(1);
}
  
textarea, .animation-white
{
    font-size: 1.3rem;
    font-weight: 2;

    background-color: #fcfbf6;
    border: 1rem solid #fcfbf6;
    border-radius: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif; 

    outline: none;

    padding: 3rem;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    resize: none;
    height: 60vh;
    width: 50vw;
}
  


.flex-container
{
    border-radius:3rem;
    padding:1.7rem;
    margin:1rem;

    background-color:#474747;

    display:flex;

    flex-flow: row wrap;

    justify-content: flex-start;
    align-content: flex-start;

    gap: 0.2rem;
}

.flex-flow-from-left
{
    animation-name: flow-from-left;
    animation-duration: 0.5s;
}



.undercard
{
    animation-name: flow-from-left;
    animation-duration: 0.5s;
}

.flex-member
{
    border: 0rem solid #322f31;
    border-radius: 3rem;

    background-color: #322f31;

    padding: 1rem;
    margin: 1rem;
}

.flex-break
{
    flex-basis: 100%;
    height:0;
}

.flex-pfp
{

    animation-name: flow-from-left-roll;
    animation-duration: 1.5s;

    border: 1rem solid #322f31;

    position: relative;

    border-radius: 50%;
    overflow: hidden;

    padding: 0;

    width: 15em;
    height: 15em;
}
.flex-pfp img
{
    position: inherit;

    max-width: 105%;
    width: 105%;
    height: 105%;
    left: -5%;
    top: -5%;
    z-index: 2;

    overflow: hidden;
}

.flex-title
{
    animation-name: flow-from-left;
    animation-duration: 0.9s;

    border: 1rem solid #322f31;
    flex-basis: 30rem;
} 
.flex-sona-title
{
    animation-name: flow-from-left;
    animation-duration: 0.9s;
    flex-basis: 20rem;
    height: fit-content;
} 
.flex-sona-text
{
    display: block;
    height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;

    width: 60vw;

    animation-name: flow-from-left;
    animation-duration: 0.9s;
} 

.flex-title h1 
{
    position: relative;
    top:20%;
}

.flex-text
{
    display: inline;

    max-width: 55vw;

    padding-left: 3rem;
    padding-right: 3rem;

    animation-name: flow-from-left;
    animation-duration: 0.9s;

    float: right;
}

.flex-link
{
    flex-grow: 3;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif; 

    transition: all 0.5s ease;

    min-width: 8rem;

    text-align: center;
}
.flex-link-left
{
    animation-name: flow-from-left-fast;
}
.flex-link-right
{
    animation-name: flow-from-right-fast;
    
}
.flex-link p
{
    margin: 10% 0;
}
.flex-link:hover
{
    transform: scale(1.1);
    background-color: #999999;
}

.display-none
{
    display:none !important;
}

.hide
{
    z-index: -10;
}

.suggestions-container
{
    border-radius:3rem;
    padding:1.7rem;
    margin:1rem;

    background-color:#474747;

    display:flex;

    flex-flow: row wrap;

    justify-content: flex-start;
    align-content: flex-start;

    gap: 0.2rem;
}

.animation-white
{
    position: absolute;
}

.animation-white-animate
{
    animation-name: go-suggestion;
    animation-duration: 4s;
}

.shredder
{
    width: 16vw;
    height: 45vh;
    z-index: 20; 
    position:absolute;

    left: 67.9vw;
    top: 130vh;
}


#title-name
{
    font-size: 2.6rem;
    font-weight: 100;

    display: flex;
    justify-content: center;

    white-space: pre;
}

@keyframes flow-from-left 
{
    from 
    {
        transform: translate(-100%, 0);
    }
    to
    {
        transform: translate(0, 0);
    }
}

@keyframes flow-to-left
{
    from 
    {
        transform: translate(0, 0);
    }
    to
    {
        transform: translate(-110%, 0);
    }
}

@keyframes flow-from-left-fast 
{
    from 
    {
        transform: translate(-200%, 0);
    }
    to
    {
        transform: translate(0, 0);
    }
}

@keyframes flow-from-right-fast 
{
    from 
    {
        transform: translate(-1000%, 0);
    }
    to
    {
        transform: translate(0, 0);
    }
}

@keyframes go-suggestion
{
    0%
    {
        height: 60vh;
        width: 50vw;

        left: 3vw;
        top: 90vh;
    }
    15%
    {
        height: 4vh;
        width: 2vw;
    }
    30%
    {
        height: 4vh;
        width: 2vw;

        left: 70.5vw;
        top: 117vh;
    }
    100%
    {
        height: 4vh;
        width: 2vw;

        left: 70.5vw;
        top: 150vh;
    }

}
