body
{
    background-color: #000011;
}
/* Parallax Styles */
.parallax-container 
{
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow-x: hidden;
    scrollbar-width: none;
    perspective: 8px;
    perspective-origin: 0%;
    
}
.image 
{
    position: absolute;
    transform-origin: 0 50%;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#background-image 
{
    background-repeat: repeat-y;
    transform: translateZ(-6px) scale(5);
    background-image: url("https://cdn.discordapp.com/attachments/532292600477122562/808030510802665542/background_cascade_stars_0.png");
    z-index: -4;
    
}

#middle-image 
{
    background-repeat: repeat;
    transform: translateZ(-3px) ;
    background: transparent url("https://cdn.discordapp.com/attachments/532292600477122562/808045868493176872/starmap-medium.png");
    z-index: -3;
}

#foreground-image 
{
    background-repeat: repeat;
    transform: translateZ(0px) ;
    background: transparent url("https://cdn.discordapp.com/attachments/532292600477122562/808045668286332946/starmap-tiny.png");
    z-index: -2;
}

#text
{
    height: 400px;
    z-index: -1;
}

#header
{
    width:100%;
    height: 5rem;

}

.container
{
    display: block;
    position:relative;
    min-width: 70%;

}

.container-fill
{
    width:100%;
}