<div class="nav flex-member">
    <div class="profile">

        <div class="flex-member flex-pfp center-div">
            <img class="flex-pfp-img" src="res/pfp.png" alt="pfp">
            <!-- <img class="flex-pfp-banner" src="res/pastel-rainbow.png" style="transform:translate(0px, -100%)  rotate(45deg);" alt="pfp"> -->
        </div>
        <div class="gradient-background text-card center-div">
            <span>arsenicu</span>
        </div>
    </div>

    <div class="navbar">
        <p><span class="emoji">📗</span> pages</p>
        <ul>
            <li><span class="emoji">✨</span><a href="index.html">main</a></li>
            <li><span class="emoji">🪐</span><a href="content.html">content</a></li>
            <li><span class="emoji">🐾</span><a href="art.html">art</a></li>
            <li><span class="emoji">📦</span><a href="misc.html">misc</a></li>
        </ul>
        <p><span class="emoji">🌐</span> links</p>
        <ul>
            <li><span class="emoji">🐙</span><a href="https://github.com/Arsenic110" target="_blank" rel="noopener noreferrer">github</a></li>
            <li><span class="emoji">🔧</span><a href="https://github.com/Arsenic110/Arsenic110.github.io" target="_blank" rel="noopener noreferrer">source</a></li>
        </ul>
    </div>

</div>